	/*------------PC----------------------*/

	@charset "UTF-8";
@media only screen and (min-width: 600px) {
.dropdown{
display: none;
}
body{
	font-family:  'Nunito Sans', sans-serif,arial;background-color: #f2f2f2;
}

#mother{
	font-family: arial; margin: 0px;
}


#navbar{
	background-color: #800000; margin: 0;
}

#navbar ul{
	 margin: 0; padding: 0px; list-style-type: none;
       overflow: hidden;
	}

li {
    float: left;
}

li a {font-size: 14px;
    display: inline-block;
    color: #d9d9d9;
    text-align: center;
    padding: 10px 16px;
    margin: 5px;
    text-decoration: none;
    border-right: 1px solid #000;

}

li a:hover {
    background-color:#b30000;
}

.topicon{
	width: 8%; float: left; padding: 15px;
}
.menubg{
	display: none;

}
#mo{
	display: none;
}

#main{


	display: flex;min-height: 350px;
}
#othercontent{

	flex:2;  padding:0px; margin-right: 20px;
	
}
#oright{
	flex: 1; margin-left: 10px;
}
#oright h2{
	margin-left: 20px;text-align: left;
	color: #cc0000;font-family: Times new roman;
	font-size: 200%;
}

#oright img{
	width: 20%;
}

#left{
	flex: 1;width: 50%;
}
#left img{
	width: 50%;
}
#welcome{

	flex:1; margin: 20px;
}

#header{
	padding: 1px; border-bottom: 0.2px solid #b30000;
	background-color:#000; margin: 0px;
}
	h1{
		color: #fff; font-family: Times new roman;
	}
h3{
	padding:5px 20px 5px 20px; font-family: Times new roman;
	
	font-size: 150%; background-color: #0040ff; color: #fff;
}

.dropbtn {
	 background-color: rgba(230, 0, 0,0.8);
     color: white;
    padding: 5px 20px;
    font-size: 14px;
    border: none;
    margin: 20px 20px 0px;
    text-align: center;
    border-radius: 0px;
}

.dropdown {
    display: inline-block; 
}

.dropdown-content {
    display: none;
    background-color: rgba(230, 0, 0,0.8);
    min-width: 250px;
    
}

.dropdown-content a {
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
       display: block;
    border-bottom: 1px solid #fff;
}

.dropdown-content a:hover {background-color: rgba(0, 0, 0,0.5);}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #cc0000;
}		

.connect img{
	width: 30px; float: right;
}

.connect {
	 float: right; text-decoration: none; color:  #ccebff; padding-top: 5px;
	 padding-right: 2px;font-size: 14px;
}

#wmessage{
	color:#b30000; margin: 5px auto 5px 20px; text-align: left;
	font-weight: bold;font-family: Times new roman;
}

 #welcome{ margin-top: 10px;
border-radius: 0px;
border:0px solid #000;
min-width: 300px;
font-size: 14px;
overflow-y: scroll;
height: 390px;
/*background-color: #b3e0ff;*/
  background:#ccebff; /* For browsers that do not support gradients */
}

#welcome img{
	width: 40%;
	float: left;
	margin: 5px 20px 5px 5px;
}
#welcome p{
	padding: 20px; font-size: 14px; margin: 0px;
}
#welcome h2{
	font-family: times new roman;
	margin: 10px auto; padding: 10px 0px 0px 0px;
	font-size: 200%;
}

.wbutton{
	padding: 5px 20px ;
	border-radius: 0px;
	border:0px solid #ff3333;
	border-style: outset;
	margin: 0px 20px 20px;
	text-align: center;
	float: none;
	font-family: 'Nunito Sans', sans-serif, arial; font-size: 14px;
	background-color: #fff;
}

.wbutton a{
	text-decoration: none;
}
/*------------SUBMAIN 2----------*/
#submain2{ margin-top: 10px;
border-radius: 0px;
border:0px solid #000;
max-width: 630px;
/*background-color: #b3e0ff;*/
 background:#800000; /* For browsers that do not support gradients */
    }
#submain2 img{
	margin: 0px; width: 50%;padding-left: 20px;
}
#submain2 p{
	padding: 20px; font-size: 14px; margin-top: 10px;
}
#submain2 h2{
	font-family: times new roman;
	 padding: 10px 0px 10px 20px;
	 font-size: 160%;margin: 0;
}
#submain2 h2 a{
	font-family: times new roman;
	 padding: 10px 20px;
	 color: white;
	}

.wbutton2{
	padding: 5px 20px;
	border-radius: 0px;
	border:0px solid #ff3333;
	border-style: outset;
	margin: 0px 20px 20px;
	text-align: center;
	float: none;
	font-family:'Nunito Sans', sans-serif, arial; font-size: 14px;
	background-color:#fff
}
 /*-------------SUBMAIN 3----------*/

#submain3{ margin-top: 10px;
border-radius: 0px;
border:0px solid #000;
height: 300px;
max-width: 630px;
overflow-y: scroll;
color: #e6e6e6;
/*background-color: #b3e0ff;*/
 background:#1a1a1a; /* For browsers that do not support gradients */
    }

#submain3 img{
	margin: 10px 20px; width: 55%;
}
#submain3 p{
	padding: 20px; font-size: 14px; margin-top: 10px;
}
#submain3 h2{
	font-family: times new roman;
	 padding: 10px 0px 0px 20px;
	 font-size: 200%;margin: 0;
}

#submain3 h3{
	margin-bottom: 0; background-color: #007399;
}

#submain3 i{
	padding: 5px 20px; font-size: 14px;
}
#submain3 em{
	padding: 5px 20px; color: #33ccff;font-size: 14px;
}
.wbutton3{
	padding: 5px 20px;
	border-radius: 0px;
	border:0px solid #ff3333;
	border-style: outset;
	margin: 10px 20px 20px;
	text-align: center;
	float: none;
	color: #fff;
	font-family:'Nunito Sans', sans-serif, arial; font-size: 14px;
	background-color:#cc0000;

}
.wbutton3 a{
	text-decoration: none;
	color: #fff;

}

.seen {
	 display:flex; flex-direction: row;
}

.seen div{
	flex:20% 80% ; 
}
.seen div h3{
	
	 padding-left: 0px; font-weight: normal;
	 font-family:'Nunito Sans', sans-serif, arial;
}

.rightside{
	margin-right: 20px; max-width: 250px; padding: 20px;
	 background-color: #ccebff; overflow-y: scroll;
	 height: 360px;
}

.rightside p{
	font-size: 14px; 
}

#footer{font-size: 14px;
	background-color: #000;
	padding: 5px 20px;
	color: #ff3333;
	min-height: 200px;
	margin-top: 20px;
	display: flex;
}
.flinks{
	flex:1;
}
.fcontacts{
	flex: 1; color: #a6a6a6;
     padding: 5px 0px;
     margin-left: 10px;
}
.flinks a {
    color: #a6a6a6;
     padding: 5px 0px;
    text-decoration: none;
       display: block;
    border-bottom: 0.5px solid #404040;
}

.flinks a:hover {background-color: rgba(0, 0, 0,0.5);}



}
/*--------------PHONES-----------------------------*/

	@charset "UTF-8";
@media only screen and (max-width: 600px){
#mother{
	font-family: 'Nunito Sans', sans-serif,Arial;
}


#navbar{
	display: none;
}
.topicon{
	width: 15%; float: left; padding: 15px;
}
.menubg{/*background:#800000; */
	 background-image: url("images/couple3b.jpg");
    background-repeat: no-repeat;
     background-size: 100% auto; 
    min-height: 120px;
    padding: 5px;

}
#top{

	
}

#header{
	padding: 1px; border-bottom: 0.2px solid red;background-color:#000;
}
	#header h1{
		color: #fff; font-family:'Nunito Sans', sans-serif, Times new roman;font-size: 20px;
	}
h3{
	padding:5px 20px 5px 20px; font-family: Times new roman;
	width: 80%;
	font-size: 150%; background-color: #0040ff; color: #fff;
}

.dropbtn {
	 background-color: rgba(230, 0, 0,0.8);
     color: white;
    padding: 5px 20px;
    font-size: 14px;
    border: none;
    margin: 20px 20px 0px;
    text-align: center;
    border:1px solid #fff;
    border-radius: 0px;
}

.dropdown {
    display: inline-block; 
}

.dropdown-content {
    display: none;
    background-color: rgba(230, 0, 0,0.8);
    min-width: 250px;
    
}

.dropdown-content a {
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
       display: block;
    border-bottom: 1px solid #fff;
}

.dropdown-content a:hover {background-color: rgba(0, 0, 0,0.5);}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #cc0000;
}		

#connect img{
	width: 30px; float: right;
}

#connect a{
	 float: right; text-decoration: none; color: #fff; padding-top: 5px;
	 padding-right: 2px;font-size: 14px;
}

#wmessage{
	font-family: Times new roman; color:#cc0000; margin: 5px auto 5px 20px; text-align: left;
}
.welcometext{
	display: none;
}

 #welcome{ margin: 10px 0px;
border-radius: 0px;
border:0px solid #000;
/*background-color: #b3e0ff;*/
 background:#e6e7e4; /* For browsers that do not support gradients */
    min-height: 250px;
    }

#welcome img{
	width: 40%;
	float: left;
	margin: 5px 20px 5px 5px;
}
#welcome p{
	padding: 20px; font-size: 14px; margin: 0px;
}
#welcome h2{
	font-family: times new roman;
	margin: 10px auto; padding: 10px 0px 0px 0px;
	font-size: 200%;
}
#oright{
	margin: 10px;
}


#oright img{
	width: 45%;
}
.wbutton{
	padding: 5px 20px ;
	border-radius: 0px;
	border:0px solid #ff3333;
	background-color: #007399;
	color: #fff;
	border-style: outset;
	margin: 0px 20px 20px;
	text-align: center;
	float: none;
	font-family: 'Nunito Sans', sans-serif,Arial; font-size: 14px;
	
}

.wbutton a{
	text-decoration: none;
}
/*------------SUBMAIN 2----------*/
#submain2{ margin: 10px;
border-radius: 0px;
border:0px solid #000;
background:#800000; }

#submain2 img{
	margin: 0px; width: 50%;padding-left: 20px;
}
#submain2 p{
	padding: 20px; font-size: 14px; margin-top: 10px;
}
#submain2 h2{
	font-family: times new roman;
	 padding: 10px 0px 10px 20px;
	 font-size: 160%;margin: 0;
}
#submain2 h2 a{
	font-family: times new roman;
	 padding: 10px 20px;color: #fff;
	}

.wbutton2{
	padding: 5px 20px;
	border-radius: 0px;
	border:0.3px solid #ff3333;
	border-style: outset;
	margin: 0px 20px 20px;
	text-align: center;
	float: none;
	font-family: 'Nunito Sans', sans-serif,Arial; font-size: 14px;
	background-color:#fff
}
 /*-------------SUBMAIN 3----------*/

 /*-------------SUBMAIN 3----------*/

#submain3{ margin-top: 10px;
border-radius: 0px;
border:0px solid #000;
max-width: 630px;
color: #e6e6e6;
/*background-color: #b3e0ff;*/
 background:#1a1a1a; /* For browsers that do not support gradients */
    }

#submain3 img{
	margin: 10px 20px; width: 55%;
}
#submain3 p{
	padding: 20px; font-size: 14px; margin-top: 10px;
}
#submain3 h2{
	font-family: times new roman;
	 padding: 10px 0px 0px 20px;
	 font-size: 200%;margin: 0;
}

#submain3 h3{
	margin-bottom: 0; background-color: #007399;
}

#submain3 i{
	padding: 5px 20px; font-size: 14px;
}
#submain3 em{
	padding: 5px 20px; color: #33ccff;font-size: 14px;
}
.wbutton3{
	padding: 5px 20px;
	border-radius: 0px;
	border:0px solid #ff3333;
	border-style: outset;
	margin: 10px 20px 20px;
	text-align: center;
	float: none;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif,arial; font-size: 14px;
	background-color:#cc0000;

}

.wbutton3 a{
	text-decoration: none;
	color: #fff;

}
.seen {
	 display:flex; flex-direction: row;
}

.seen div{
	flex:20% 80% ; 
}
.seen div h3{
	color: #0040ff; background-color: transparent;
	 padding-left: 0px; font-weight: normal;
	 font-family: 'Nunito Sans', sans-serif,Arial;
}

#oright h2{
	font-family: Times new roman; 
}
.rightside{
	margin: 20px auto;  padding: 20px;width: 80%;
	 background-color: #ccebff; overflow-y: scroll;
	 
}
.rightside h2{
	font-family: Times new roman; 
}
.rightside p{
	font-size: 14px; 
}
#footer{font-family: 'Nunito Sans', sans-serif,arial;
	background-color: #000;
	padding: 5px 20px;
	color: #ff3333;
	min-height: 200px;
	margin-top: 20px;
	display: flex;
}
.flinks{
	flex:1;
}
.fcontacts{
	flex: 1; color: #a6a6a6;
     padding: 5px 0px;
     margin-left: 10px;
}
.flinks a {
    color: #a6a6a6;
     padding: 5px 0px;
    text-decoration: none;
       display: block;
    border-bottom: 0.5px solid #404040;
}

.flinks a:hover {background-color: rgba(0, 0, 0,0.5);}

}